* {
    margin: 0;
    padding: 0;
}

.Main {
    margin: 50px;
}

.Team_info {
    margin-top: 50px;
    width: 700px;
    height: 87px;
    font-size: 30px;
    margin-bottom: 100px;
}

.title {
    width: 1500px;
    height: 47px;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
}

.top {
    display: flex;
    height: 30%;
    margin-top: 50px;
}

.Team_info {
    margin-left: 180px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Description {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.team {
    margin-top: 70px;
    height: 70%;
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto auto;
    column-gap: 5rem;
    row-gap: 5rem;
}

.team :nth-child(2) {

    margin-top: 80px;

}

.team :nth-child(5) {

    margin-top: 80px;

}

.img {
    max-width: 100%;
    min-height: auto;
}

.img-pocket {

    display: flex;
    flex-direction: column;
}

.iprofile {
    display: flex;
    align-items: start;

}

.profile {
    position: relative;
    writing-mode: vertical-lr;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    padding: 0%;
}

.name {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 27px;
    margin-top: -70px;
    margin-bottom: 0;
}

footer {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 17px;
    color: #A9A9A9;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1100px) {

    .team {
        margin-top: 90px;
        height: 70%;
        display: grid;
        justify-content: space-around;
        grid-template-columns: auto auto;
        column-gap: 6rem;
    }

    .title {
        width: 500px;
        height: 47px;
        font-family: 'PT Serif';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 48px;
        letter-spacing: -0.045em;
    }

    .Team_info {
        width: 500px;
    }

    .img {

        max-width: 80%;
        min-height: auto;
    }

    .name {
        margin-top: -20px;
    }

    .Team_info {
        font-size: 20px;
        width: auto;
        margin-right: 100px;
    }

    .team :nth-child(2) {
        margin-top: 50px;
    }

    .team :nth-child(4) {
        margin-top: 50px;
    }

    .team :nth-child(6) {

        margin-top: 120px;

    }

    footer {

        font-size: 20px;
    }


}

@media only screen and (max-width: 750px) {

    .top {
        display: flex;
        flex-direction: column;
        justify-content: left;
        height: 30%;
    }

    .team {
        margin-top: 30px;
        justify-content: space-around;
    }

    .title {
        width: 500px;
        margin-bottom: 30px;
        font-size: 25px;
    }

    .Team_info {
        width: auto;
        justify-content: left;
        font-size: 20px;
        margin-left: 0%;

    }

    .sub-title {
        margin-bottom: 20px;
    }

    .img {
        max-width: 75%;
        min-height: auto;
    }

    .name {
        font-size: 20px;
        margin-top: -45px;
    }

    .profile {
        font-size: 20px;
    }

    footer {
        font-size: 20px;
    }
}

@media only screen and (max-width: 550px) {

    .title {
        margin-right: 100px;

    }

    .Team_info {

        justify-content: left;
    }

    .img {

        max-width: 85%;
        height: auto;

    }

    .name {
        font-size: 20px;
    }

    .profile {
        font-size: 20px;
    }
}

@media only screen and (max-width: 470px) {

    .title {

        width: 300px;
        size: 10px;
    }

    .img {

        max-width: 95%;
        height: auto;

    }

    .name {
        margin-top: -45px;
        font-size: 15px;
    }

    .profile {
        font-size: 15px;
    }

    .team {
        margin-top: 0%;
        column-gap: 3rem;
        row-gap: 0 rem;
    }

    footer {

        font-size: 15px;
    }

}

@media only screen and (max-width: 370px) {

    .title {
        margin-left: 0px;
        font-size: 15px;
        width: 200px;
    }

    .Team_info {
        width: 100px;
    }

    .img {

        max-width: 105%;
        height: auto;

    }

    .name {
        font-size: 7px;
        margin-top: -55px;
    }

    .profile {
        font-size: 10px;
    }

    .Team_info {
        margin-left: 0px;
        width: 200px;
        font-size: 10px;
    }


}